.accountinfo-container {
  padding-top: var(--m);
  padding-bottom: var(--l);
  padding-left: var(--m);
  background-color: var(--bg);
  line-height: 22px;
  text-align: left;
  height: 70%;
  width: 70%;
  margin-right: 0px;
  border-radius: 30px;
  border-width: 0.5px;
  float: right;
  position: relative;
}

.accountinfo-box {
  width: 70%;
  height: 37px;
  margin-left: auto;
  margin-right: 4%;
  border-width: 0.2px;
  box-sizing: border-box;
  border-radius: 20px;
  padding-left: 20px;
  background-color: var(--pink);
}

.user-box {
  padding-top: 3%;
  margin-left: 2%;
  float: left;
}

.user-title {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.email-title {
  padding-top: 5.5%;
  font-size: 1.5em;
  text-decoration: underline;
  text-align: left;
}

.edit-profile {
  margin-top: 7%;
  height: 37px;
  width: 95px;
  border-radius: 24px;
  text-align: center;
  font-weight: 700;
  border: none;
  background-color: var(--purple);
  box-shadow: 1px 1px var(--darkpurple);
}

.edit-profile:hover {
  background-color: var(--pink) !important;
  cursor: pointer !important;
}

.edit-link {
  margin-top: 7%;
  text-align: center;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.spacing {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.accountinfo-label {
  font-size: 1em;
  padding-left: 3%;
  padding-top: 1%;
  font-weight: 450;
  width: 15%;
}

::placeholder {
  color: #444444;
  font-style: italic;
  opacity: 1;
}

.img-size2 {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
}

.inventory-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  /* gap: -10px; */
  column-width: 250px;
  column-gap: 0px;
  /* row-gap: 20px; */
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  overscroll-behavior-y: auto;
  margin-right: 0px;
  margin-top: 10px;
  height: 350px;
}

/* makes containers the same size */
.accountinfo-container,
.inventory-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.containerdiv {
  background-image: url("../../../dist/images/stars2.png");
  background-size: 170px;
  width: 170px;
  height: 40px;
}

.innerdiv1 {
  background: rgba(255, 255, 255, 0.6);
  height: 40px;
  float: right;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 80%;
  border-top: 8px solid var(--purple);
  width: 40px;
  height: 40px;
  /* -webkit-animation: spin 2s linear infinite; */
  animation: spin 1s linear infinite;
  margin-left: 48%;
  margin-top: 7%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loginimg-size {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
