.fulfill-container {
  padding: var(--s) var(--m);
  padding-bottom: 20px;
  background-color: var(--bg);
  height: 450px;
  width: 100%;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
  border-width: 0.5px;
  float: left;
  position: relative;
  column-gap: 20px;
  overflow-y: scroll;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: 350px 300px;
}

.fulfill-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.fulfill-container::-webkit-scrollbar:vertical {
  width: 11px;
}

.fulfill-container::-webkit-scrollbar:horizontal {
  height: 11px;
}

.fulfill-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c4c4c4;
}
.fulfill-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c4c4c4;
}

.fulfill-item-box {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  height: 90%;
  border-radius: 43px;
  width: 230px;
  padding: 20px;
}

.tradeInfo {
  height: 47px;
  width: 168px;
  left: 1052px;
  top: 745px;
  border-radius: 24px;
  font-size: 14px;
  line-height: 17px;
  background-color: white;
}

.search-container {
  margin-top: 50px;
  float: right;
}

.search-box,
.search-button {
  height: 40px;
  left: 953px;
  top: 290px;
  font-weight: 400;
  border-width: 1px;
  -webkit-appearance: none;
}

.search-button {
  border-radius: 0px 30px 30px 0px;
  padding-right: 10px;
}

.search-box {
  width: 200px;
  border-radius: 30px 0px 0px 30px;
  padding-left: 20px;
}
