.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.flex-item {
  padding-bottom: 9vh;
}

.home-nav {
  margin-top: 16vh;
  padding-top: 8vh;
  border-radius: 24px;
}

.about-button {
  height: 44px;
  width: 95px;
  text-align: center;
  font-weight: 600;
  border-width: 1px;
  border-radius: 24px;
  margin-left: 1vw;
  background-color: var(--blue);
  border: none;
  box-shadow: 1px 1px var(--darkblue);
}

.login-button {
  height: 44px;
  width: 95px;
  text-align: center;
  font-weight: 600;
  border-width: 1px;
  border-radius: 24px;
  background-color: var(--purple);
  border: none;
  box-shadow: 1px 1px var(--darkpurple);
}

.about-button:hover {
  background-color: var(--pink) !important;
  cursor: pointer !important;
}

.login-button:hover {
  background-color: var(--pink);
  cursor: pointer;
}

.home-img-size {
  width: 450px;
}

.modal {
  position: absolute;
  top: 30%;
  /* margin: auto; */
  left: 35%;
  width: 30vw;
  border-radius: 24px;
  outline: none;
  background-color: var(--blue);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.modal-close {
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 1em;
}

.modal-close:hover {
  color: var(--primary--dim);
}

.modal-title {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: -10px;
}

.modal-names {
  text-align: center;
  font-style: italic;
  padding-top: 1em;
  font-weight: 500;
}

ul {
  list-style-position: outside;
  padding-bottom: 4%;
  width: 20vw;
}

li {
  padding-bottom: 1%;
  text-align: center;
}
