.requests-container {
  margin-left: var(--l);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.requests-item,
.requests-item:visited {
  font-size: calc(2vw + 1vh);
  font-style: italic;
  text-decoration: none;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-request {
  position: relative;
  float: left;
  text-align: center;
}

.request-match {
  position: relative;
  float: right;
  text-align: center;
  padding-right: 7%;
}

.req-img-size {
  height: 70%;
  width: 70%;
}

.req-img-size2 {
  height: 46.5%;
  width: 46.5%;
  opacity: 0.9;
}
