.requests-container {
  margin-left: var(--l);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.requests-item,
.requests-item:visited {
  margin-left: var(--l);
  margin-right: var(--l);
  font-size: 30px;
  font-style: italic;
  text-decoration: none;
  color: var(--black);
}
