.requestmatch-container {
  padding: var(--m) var(--m) var(--s) var(--m);
  background-color: var(--bg);
  line-height: 22px;
  text-align: left;
  height: 450px;
  width: 100%;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 30px;
  border-width: 0.5px;
  float: left;
  position: relative;
  column-width: 250px;
  column-gap: 15px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  overscroll-behavior-y: auto;
}

.requestmatch-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.requestmatch-container::-webkit-scrollbar:horizontal {
  height: 11px;
}

.requestmatch-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c4c4c4;
}

.page-title {
  margin-left: 5%;
  font-size: 3em;
  float: left;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.requestmatch-subtitle {
  margin-left: 5%;
  font-size: 2em;
  float: left;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.item-box {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  height: 90%;
  border-radius: 43px;
  width: 225px;
  padding: 20px;
  overflow-y: auto;
}

.requestmatch-resolve {
  height: 29px;
  width: 140px;
  border-radius: 24px;
  font-size: 14px;
  line-height: 17px;
  border: none;
  box-shadow: 1px 1px black;
  font-weight: bold;
}

.requestmatch-resolve:hover {
  background-color: var(--pink) !important;
  cursor: pointer !important;
}

.fulfill-item-box {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  height: 90%;
  border-radius: 43px;
  width: 225px;
  /* padding: 20px; */
  overflow-y: auto;
}

.fulfill-item-box-inner {
  position: relative;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  text-align: center;
  width: 100%;
}

.item-box-inner {
  position: relative;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  text-align: center;
  width: 100%;
}

.fulfill-item-box:hover .fulfill-item-box-inner {
  transform: rotateY(180deg);
}

.fulfill-item-box-front,
.fulfill-item-box-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.fulfill-item-box-front {
  width: 100%;
  position: absolute;
  text-align: center;
}

.fulfill-item-box-back {
  width: 100%;
  text-align: center;
  font-style: italic;
  transform: rotateY(180deg);
}

.requestmatch-title {
  margin-top: 7%;
  margin-left: 5%;
  text-align: center;
  float: left;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.requestmatch-subtitle2 {
  margin-left: 5%;
  padding-top: 2%;
  font-size: 2em;
  float: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.modal3 {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30vw;
  border-radius: 24px;
  outline: none;
  background-color: var(--blue);
}
